---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import ServiciosSection from '../components/ServiciosSection.astro';
import Nosotros from '../components/Nosotros.astro';
import Proceso from '../components/Proceso.astro';
import CTASection from '../components/CTASection.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout 
  title="Cetraconsultores - Defendemos tu propiedad frente a obras de infraestructura"
  canonicalUrl="https://cetracon.cl/prueba/"
>
  <Navbar />
  <main>
    <Hero />
    <Problema />
    <ServiciosSection />
    <Nosotros />
    <Proceso />
    <CTASection />
    <Contacto />
  </main>
  <Footer />
</Layout>
